* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
}

#game {
  width: 500px;
  height: 200px;
  border: 1px solid black;
  background-color: rgb(193, 255, 255);
}

#character {
  width: 20px;
  height: 50px;
  background-color: red;
  position: relative;
  top: 150px;
}

.animate {
  animation: jump 500ms;
}

@keyframes jump {
  0% {
    top: 150px;
    background: greenyellow;
  }
  30% {
    top: 100px;
    background: greenyellow;
  }
  70% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

#block {
  height: 20px;
  width: 20px;
  background-color: blue;
  position: relative;
  top: 130px;
  left: 480px;
  animation: block 1.5s infinite linear;
}

@keyframes block {
  0% {
    left: 480px;
  }
  100% {
    left: -40px;
  }
}
